.register {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 396px;
	width: 100%;
  margin: 70px auto;
}
.register__header {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin-top: 40px;
  margin-bottom: 0;
}
.register__form {
  margin-top: 40px;
}
.register__link {
  transition: opacity 0.2s linear;
}
.register__link:hover {
  cursor: pointer;
  opacity: 0.8;
}
.register__label {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #A0A0A0;
  margin: 20px auto 10px;
}
.register__label:first-child {
  margin: 0 auto 20px;
}
.register__input {
  min-width: 396px;
  outline: none;
  border: none;
  background: #F9F9F9;
  border-radius: 8px;
  font-size: 13px;
  line-height: 16px;
  padding: 15px;
  box-sizing: border-box;
}
.register__input_error {
  color: #EE3465;
}
.register__label_error {
  margin-top: 10px;
  color: #EE3465;
  margin-bottom: 0;
}
.register__button-reg {
  background: #2BE080;
  border: none;
  width: 396px;
  border-radius: 3px;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 70px;
  transition: opacity 0.2s linear;
}
.register__button-reg:hover {
  cursor: pointer;
  opacity: 0.8;
}
.already-register {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 16px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
}
.already-register__label {
  margin: 0;
  color: #A0A0A0;
}
.already-register__link {
  text-decoration: none;
  color: #2BE080;
  transition: opacity 0.2s linear;
}
.already-register__link:hover {
  opacity: 0.8;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .register {
    margin-top: 56px;
    width: calc(100% - 2*30px);
  }
  .register__link {
    margin: 0 auto;
  }
  .register__header {
    margin: 50px auto 0;
  }
  .register__form {
    margin-top: 80px;
    width: 100%;
  }
  .register__label:first-child {
    margin-bottom: 10px;
  }
  .register__input {
    min-width: 0;
    width: 100%;
  }
  .register__button-reg {
    margin-top: 157px;
    width: 100%;
    font-size: 12px;
    line-height: 15px;
  }
  .already-register__label {
    font-size: 12px;
    line-height: 15px;
  }
  .already-register__link {
    font-size: 12px;
    line-height: 15px;
  }
}
